<html>
<head>
	<title>Upload</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class ="wrapper">
        <form action = "/upload" method = "post" enctype="multipart/form-data" multiple>
            <input type="file" name="file" />
            <i class="fas fa-cloud-upload-alt"></i>
            <input type = "submit" value="Upload">
        </form>
    </div>
</body>
</html>
